* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: 0;
  &::-webkit-scrollbar {
    width: 0;
  }
}
// scrollbar
  @media (min-width : 1281px) {
    * {
      scrollbar-color: $pink;
      scrollbar-gutter: 0;

      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);

        &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: $pink;
        border-radius: 20px;

        &:hover {
          background-color: $pink;
        }

        &:active {
          background-color: $pink;
        }
      }

      &::-webkit-scrollbar-button {
        display: none;
      }
    }

  }

html,
body {
  width: 100vw;
  height: auto;
  min-height: 100dvh;
  overflow-x: hidden;
  color: $white;
  background-color: $black;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-bottom: 48px;
}

